@font-face {
    font-family: "IRANSansX-Regular";
    src: url('../public/font/IRANSansX-Regular.woff') format('woff')
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden !important;
}

.css-1hwfws3 {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  flex: 1 1 0%;
  flex-wrap: wrap;
  padding: 2px 8px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}
